.footer-section{
background:#1c1c1c;
}

.footer-brand{
display:flex;
align-items:center;
gap:10px;
}

.footer-logo-img{
height:45px;
width:auto;
object-fit:contain;
background:transparent;
}

.footer-logo{
font-weight:700;
margin-bottom:15px;
}

.footer-text{
color:#ccc;
font-size:14px;
line-height:1.6;
}

.footer-title{
margin-bottom:15px;
font-weight:600;
}

.footer-links{
list-style:none;
padding:0;
}

.footer-links li{
margin-bottom:10px;
}

.footer-links a{
text-decoration:none;
color:#bbb;
transition:0.3s;
}

.footer-links a:hover{
color:#ffc107;
}

.social-icons a{
color:white;
font-size:18px;
margin-right:12px;
transition:0.3s;
}

.social-icons a:hover{
color:#ffc107;
}

.footer-divider{
border-color:#444;
margin-top:30px;
}

.footer-bottom{
color:#aaa;
font-size:14px;
padding-bottom:20px;
}

.footer-whatsapp a{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:45px;
  height:45px;
  background:#25D366;
  color:white;
  border-radius:50%;
  font-size:22px;
  transition:0.3s;
  text-decoration:none;
}

.footer-whatsapp a:hover{
  background:#1ebe5d;
  transform:scale(1.1);
}

.whatsapp-float{
  width:30px;
  height:30px;
  background:#25D366;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:18px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  z-index:1000;
}

.whatsapp-float:hover{
  transform:scale(1.1);
}